

@{
    ViewBag.Title = "Entrada";
}

<h2>Entrada de Veiculos<h2>
    @{
        if (TempData["erro"] != null)
        {
            <div>
                <p>@TempData["erro"]</p>
            </div>
        }
    }
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   <div class="form-horizontal">
    <h4>Veiculo</h4>
    <hr />
    @Html.Partial("~/Views/Movimentacao/_formPlaca.cshtml")
    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Entrada" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    
</div>
